.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }

  .contact {
    display: none;
  }

  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-btn__icon {
    fill: var(--primary-text-color);
  }

  .mobile-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100vw;
    // width: 100%;
    height: 100vh;
    // overflow-y: scroll;
    overflow: auto;
    z-index: 100;
    background: var(--primary-background-light-theme);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-nav {
    margin-bottom: 300px;
  }

  .mobile-menu-nav__item {
    margin-bottom: 32px;
  }

  .mobile-menu-contact__list {
    margin-bottom: 64px;
  }

  .mobile-menu-contact__item {
    margin-bottom: 32px;
  }

  .mobile-menu-nav__link {
    @include fonts(500, 40px, 47px);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .curent {
    color: var(--accent-color);
  }

  .mobile-menu-social__list {
    display: flex;
  }

  .mobile-menu-social__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    &:last-child {
      border-right: none;
    }

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  .mobile-menu-social__link {
    display: flex;
    @include fonts(500, 18px, 22px);
    color: var(--accent-color);
    margin-right: 10px;
  }

  .mobile-menu-contact__link--accent {
    @include fonts(500, 34px, 40px);
    color: var(--accent-color);
  }

  .mobile-menu-contact__link {
    @include fonts(500, 24px, 28px);
    color: var(--secondary-text-color);
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
  }

  .mobile-menu-btn {
    display: none;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .navigation {
    display: flex;
  }

  .navigation__list {
    display: flex;
    align-items: center;
  }

  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }

  .mobile-menu {
    display: none;
  }

  .navigation__link {
    position: relative;
    display: block;
    @include fonts(500, 14px, 16px);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .curent::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    flex-shrink: 0;
  }

  // .current {
  //   color: var(--accent-color);
  // }

  .contact__link {
    display: flex;
    align-items: center;

    @include fonts(500, 12px, 14px);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
      cursor: pointer;
    }
  }

  .contact .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contact__icon {
    margin-right: 10px;
    fill: var(--secondary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact__link:hover &,
    .contact__link:focus & {
      fill: var(--accent-color);
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    justify-content: start;
  }

  .contact {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .contact__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-right: 30px;
  }

  .contact .contact__item:not(:last-child) {
    margin-bottom: 0;
  }
  .contact__link {
    @include fonts(500, 14px, 16px);
  }
}
