.team__container {
  display: block;
  align-items: center;
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  background: var(--secondary-background-light-theme);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__title {
  margin-bottom: 10px;
  @include fonts(500, 16px, 19px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__description {
  font-style: normal;
  @include fonts(400, 16px, 19px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.team__list {
  display: flex;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  background-color: var(--primary-background-light-theme);
}

.social-list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .team__list {
    display: block;
  }

  .team__card-img {
    width: 100%;
  }

  .team__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    flex-wrap: wrap;
    margin-right: -30px;
  }

  .team__card-img {
    width: 100%;
  }

  .team__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
