:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-font-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-light-theme: #ffffff;
  --secondary-background-light-theme: #f5f4fa;
  --background-dark-theme: #2f303a;
  --bottom-font-color: rgba(255, 255, 255, 0.6);
}
